.App {
  height: 100%;
  text-align: center;
}
.App-wrapper {
  height: 100%;
}

.App-map {
  height: calc(100% - 180px);
}

.App-logo {
  height: 80px;
  animation-delay: 1s;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
